/*------------------------------------*\
    #SITE

    Dependancies:

\*------------------------------------*/


/*
 * Sticky footer
 */

 html,
 body,
 .site-wrapper {
    height: 100%;
    position: relative;
}

    .site-header {
        z-index: index( $elements, "site-header" );
    }

    .site-content {
        min-height: 100%;
        overflow: hidden;
        z-index: index( $elements, "site-content" );

        &:after {
            content: "";
            display: block;
            height: rhythm( 3 );
        }
    }

    .site-footer {
        padding: rhythm( 0.75 ) 0;
        clear: both;
        min-height: rhythm( 3 );
        z-index: index( $elements, "site-footer" );

        background: #242424;
    }