/*------------------------------------*\
    #MASKS

    Dependancies:

\*------------------------------------*/

.list {

    .list__item {
        list-style: disc;
        list-style-position: inside;
    }
}
