/*------------------------------------*\
    #LAYOUT

    Dependancies: settings/variables

\*------------------------------------*/

.block {
    display: block;
    width: 100%;
}

.margin-auto {
    margin: auto;
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-block {
            display: block;
            width: 100% !important;
        }
    }

}





.inline-block {
    display: inline-block;
}

.inline-block--top {
    vertical-align: top;
}

.inline-block--middle {
    vertical-align: middle;
}

.inline-block--bottom {
    vertical-align: bottom;
}




.flex {
    display: flex;
}

// needed for dashboard stats
.flex---desktop {
    display: flex;

    @include respond-to( tablet ) {
        display: block;
    }
}





.scroll {
    overflow: scroll;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}





.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}





.relative {
    position: relative;
}





.float-right {
    float: right;
}

.float-left {
    float: left;
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-no-float {
            float: none;
        }
    }

}




.vert-hoz-centre {
    position: relative;
    top: 50%;
    transform: translateY( -100% );
}

.full-height {
    height: 100%;
}