/*------------------------------------*\
    #LINKS

    Dependancies: settings/variables

\*------------------------------------*/

.text-link,
%text-link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $text-colour-link;

    &:visited {
        color: $text-colour-link;
    }

    &:active,
    &:focus {
        color: $text-colour-link;
    }

    &:after {
        @extend %underline;
        background: $text-colour-link;
    }

    &:hover {
        &:after {
            // Expand the underline on hover
            transform: scaleX( 1 );
        }
    }
}


.text-link--muted,
%text-link--muted {
    color: $text-colour-muted;

    &:visited {
        color: $text-colour-muted;
    }

    &:active,
    &:focus {
        color: darken( $text-colour-muted, 10% );
    }
}


// Coloured links
@each $colour in $site-colours {

    .text-link--#{ nth( $colour, 1 ) },
    %text-link--#{ nth( $colour, 1 ) } {

        color: #{ nth( $colour, 2 ) };

        &:visited, &:active, &:focus {
            color: #{ nth( $colour, 2 ) };
        }

        &:after {
            background: #{ nth( $colour, 2 ) };
        }

        &.text-link--divided {
            &:before {
                background: #{ nth( $colour, 2 ) };
            }
        }
    }

    .text-link--underline--#{ nth( $colour, 1 ) } {
        &:after {
            background: #{ nth( $colour, 2 ) };
        }
    }

    .text-link--divided--#{ nth( $colour, 1 ) } {
        &:before {
            background: #{ nth( $colour, 2 ) };
        }
    }
}


.text-link--inverted,
%text-link--inverted {
    color: $text-colour-inverted;

    &:visited {
        color: $text-colour-inverted;
    }

    &:active,
    &:focus {
        color: $text-colour-inverted;
    }
}


.text-link--underline,
%text-link--underline {
    &:after {
        @extend %underline;
        opacity: 1;
    }

    &:hover {
        &:after {
            opacity: 0;
        }
    }
}


.text-link--no-underline,
%text-link--no-underline {
    &:after {
        display: none;
    }
}


.text-link--underline-hover,
%text-link--underline-hover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.text-link--divided {
    &:before {
        @extend %pseudo-element;
        pointer-events: none; // Do not trigger hover on links
        width: 2px;
        height: 100%;
        top: -2px;
        right: gutter( -0.5 ) + 2px;
        background: $text-colour;
    }
}


.block-link {
    display: block;
    text-decoration: none;
    outline: 0;
    color: inherit;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        outline: 0;
    }
}

.pointer {
    cursor: pointer;
}