/*------------------------------------*\
    #HEADINGS

    Dependancies: settings/variables

\*------------------------------------*/

.h1 {
    font-family: $primary-font;
    @include adjust-font-size-to( 42px, 2.4 );
}

    .h1--big {
        @include adjust-font-size-to( 60px, 3.5 );
    }


.h2 {
    font-family: $primary-font;
    @include adjust-font-size-to( 32px, 1.8 );
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-h2 { @include adjust-font-size-to( 32px, 1.8 ); }
    }

}


.h3 {
    font-family: $primary-font;
    @include adjust-font-size-to( 28px, 1.6 );
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-h3 { @include adjust-font-size-to( 28px, 1.6 ); }
    }

}


.h4 {
    @include adjust-font-size-to( 24px, 1.6 );
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-h4 { @include adjust-font-size-to( 24px, 1.6 ); }
    }

}



/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/

.p {
    @include adjust-font-size-to( 16px, 1.2 );
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-p { @include adjust-font-size-to( 16px, 1.2 ); }
    }

}

.ps {
    @include adjust-font-size-to( 14px, 1 );
}

@each $breakpoint in $breakpoints {

    @media #{ nth( $breakpoint, 2 ) } {
        .#{ nth( $breakpoint, 1 ) }-ps { @include adjust-font-size-to( 14px, 1 ); }
    }

}