<div class="experience-logos">
    <div class="experience-logos__container">
        <div class="experience-logos__1">
            <img class="experience-logos__logo angular" src="assets/images/experience-logos/angular.svg" alt="Angular JS">
            <img class="experience-logos__logo laravel" src="assets/images/experience-logos/laravel.svg" alt="Laravel">
            <img class="experience-logos__logo aws" src="assets/images/experience-logos/aws.svg" alt="AWS">
            <img class="experience-logos__logo backbone" src="assets/images/experience-logos/backbone.svg" alt="Backbone">
            <img class="experience-logos__logo drupal" src="assets/images/experience-logos/drupal.svg" alt="Drupal">
            <img class="experience-logos__logo craft" src="assets/images/experience-logos/craft.svg" alt="Craft CMS">
            <img class="experience-logos__logo wordpress" src="assets/images/experience-logos/wordpress.svg" alt="Wordpress">
            <img class="experience-logos__logo nodejs" src="assets/images/experience-logos/nodejs.svg" alt="NodeJS">
            <img class="experience-logos__logo javascript" src="assets/images/experience-logos/javascript.svg" alt="Javascript">
            <img class="experience-logos__logo php" src="assets/images/experience-logos/php.svg" alt="PHP">
            <img class="experience-logos__logo html5" src="assets/images/experience-logos/html-5.svg" alt="HTML 5">
            <img class="experience-logos__logo css3" src="assets/images/experience-logos/css-3.svg" alt="CSS 3">
            <img class="experience-logos__logo sass" src="assets/images/experience-logos/node-sass.svg" alt="SASS">
            <img class="experience-logos__logo gulp" src="assets/images/experience-logos/gulp.svg" alt="Gulp">
            <img class="experience-logos__logo grunt" src="assets/images/experience-logos/grunt.svg" alt="Grunt">
        </div>
        <div class="experience-logos__2">
            <img class="experience-logos__logo angular" src="assets/images/experience-logos/angular.svg" alt="Angular JS">
            <img class="experience-logos__logo laravel" src="assets/images/experience-logos/laravel.svg" alt="Laravel">
            <img class="experience-logos__logo aws" src="assets/images/experience-logos/aws.svg" alt="AWS">
            <img class="experience-logos__logo backbone" src="assets/images/experience-logos/backbone.svg" alt="Backbone">
            <img class="experience-logos__logo drupal" src="assets/images/experience-logos/drupal.svg" alt="Drupal">
            <img class="experience-logos__logo craft" src="assets/images/experience-logos/craft.svg" alt="Craft CMS">
            <img class="experience-logos__logo wordpress" src="assets/images/experience-logos/wordpress.svg" alt="Wordpress">
            <img class="experience-logos__logo nodejs" src="assets/images/experience-logos/nodejs.svg" alt="NodeJS">
            <img class="experience-logos__logo javascript" src="assets/images/experience-logos/javascript.svg" alt="Javascript">
            <img class="experience-logos__logo php" src="assets/images/experience-logos/php.svg" alt="PHP">
            <img class="experience-logos__logo html5" src="assets/images/experience-logos/html-5.svg" alt="HTML 5">
            <img class="experience-logos__logo css3" src="assets/images/experience-logos/css-3.svg" alt="CSS 3">
            <img class="experience-logos__logo sass" src="assets/images/experience-logos/node-sass.svg" alt="SASS">
            <img class="experience-logos__logo gulp" src="assets/images/experience-logos/gulp.svg" alt="Gulp">
            <img class="experience-logos__logo grunt" src="assets/images/experience-logos/grunt.svg" alt="Grunt">
        </div>
    </div><!-- /.experience-logos__container -->
</div>
