<div class="grid grid--flex">
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1  rhythm-m-1">
      <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Neilson</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1 rhythm-m-1">
        <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Pink Floyd - Endless River</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1 rhythm-m-1">
        <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Fidelity</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1 rhythm-m-1">
        <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Neilson</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1 rhythm-m-1">
        <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Neilson</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
    <div class="grid__item width-1/3 tablet-width-1/2 mobile-width-1/1 rhythm-m-1">
        <div class="bg-brand-secondary full-height">
            <img src="http://placehold.it/400x250" alt="Work" class="block">
            <div class="gutted rhythmic">
                <h4 class="h4 text-white rhythm-m-0-half">Neilson</h4>
                <p class="p text-white">Lead developer in the rebuild Neilson Active Holidays.</p>
            </div>
        </div>
    </div>
</div><!-- /.grid -->
