<nav class="site-nav text-right">

    <div class="contented">
        <div class="site-nav__content grid grid--middle">
            <div class="grid__item width-1/3 text-left">
                <h2 class="text-left logo logo--nav h1 inline-block text-black animate animate--scale-in">
                    <span class="logo__expand-nav"></span>
                    <span class="gutted-xxs logo__text"><span class="animate animate--fade-in animate--delay">Z</span><span class="animate animate--fade-in animate--delay">E</span><span class="animate animate--fade-in animate--delay">F</span><span class="animate animate--fade-in animate--delay">.</span></span>
                </h2>
            </div><!--
            --><div class="grid__item width-2/3 text-right">
                <ul class="rhythmic-l list list--inline tablet-hidden">
                    <li class="list__item gutted-right-xs animate animate--fade-in-up animate--delay-2"><a class="h5 text-link text-link--no-underline text-link--black" href="#about">About</a></li>
                    <li class="list__item gutted-right-xs animate animate--fade-in-up animate--delay-1"><a class="h5 text-link text-link--no-underline text-link--black" href="#work">Work</a></li>
                    <li class="list__item animate animate--fade-in-up"><a class="h5 text-link text-link--no-underline text-link--black" href="#contact">Contact</a></li>
                </ul>
                <a class="burger text-link--no-underline text-link--black animate animate--scale-in js-menu-trigger" href="#">
                    <span class="burger__line animate animate--fade-in animate--delay"></span>
                    <span class="burger__line animate animate--fade-in animate--delay"></span>
                    <span class="burger__line animate animate--fade-in animate--delay"></span>

                    <span class="burger__cross-line"></span>
                    <span class="burger__cross-line"></span>
                </a>
            </div>
        </div>
    </div><!-- /.contented -->

</nav>

<nav class="mobile-menu">
    <div class="full-height mobile-menu__content">
        <ul class="rhythmic-l list list--inline text-center vert-hoz-centre">
            <li class="list__item animate animate--scale-in animate--delay-2 block rhythm-m-1"><a class="h1 js-mobile-menu-link text-link text-link--no-underline text-link--white" href="#about">About</a></li>
            <li class="list__item animate animate--scale-in animate--delay-1 block rhythm-m-1"><a class="h1 js-mobile-menu-link text-link text-link--no-underline text-link--white" href="#work">Work</a></li>
            <li class="list__item animate animate--scale-in block rhythm-m-1"><a class="h1 js-mobile-menu-link text-link text-link--no-underline text-link--white" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
