/*------------------------------------*\
    #PATTERNS

    Dependancies: settings/variables

\*------------------------------------*/


// Put @extend %pseudo-element; in your declaration
%pseudo-element {
    display: block;
    position: absolute;
    content: "";
}



%underline {
    @extend %pseudo-element;
    bottom: gutter( -0.25 );
    left: 0;
    height: 2px;
    width: 100%;
    background: $text-colour;
    margin: 0 auto;
    transform: scaleX( 0 );
    transition: transform 0.3s ease-out;
}



%clearfix,
.clearfix {

    display: block;

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}





%box-shadow,
.box-shadow {
    box-shadow: 0 1px 3px -1px $border-colour;

    .oldie &, .old & {
        border: 1px solid $border-colour;
    }
}





%divider-l,
.divider-l {
    box-shadow: inset 1px 0 0 0 $border-colour;

    .oldie &, .old & {
        border-left: 1px solid $border-colour;
    }
}

%divider-r,
.divider-r {
    box-shadow: inset -1px 0 0 0 $border-colour;

    .oldie &, .old & {
        border-right: 1px solid $border-colour;
    }
}


%divider-b,
.divider-b {
    box-shadow: inset 0 -1px 0 0 $border-colour;

    .oldie &, .old & {
        border-bottom: 1px solid $border-colour;
    }
}


%divider-t,
.divider-t {
    box-shadow: inset 0 1px 0 0 $border-colour;

    .oldie &, .old & {
        border-top: 1px solid $border-colour;
    }
}





%bordered,
.bordered {
    box-shadow: inset 0 0 0 1px $border-colour;

    .oldie &, .old & {
        border: 1px solid $border-colour;
    }
}




%hide-text {
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    direction: ltr;
}