<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Jozef Maxted - Creative Full-stack Developer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link id="favicon" rel="icon" type="image/png" href="assets/images/favicons/favicon.png">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>

        {% include "partials/navigation.html" %}

        <header class="site-header js-section">

            <div class="site-header__logo-container">
                <h2 class="logo h1 inline-block text-white rhythm-m-2">
                    <span class="logo__expand-nav"></span>
                    <span class="gutted-xs logo__text"><span class="animate animate--fade-in animate--delay">Z</span><span class="animate animate--fade-in animate--delay">E</span><span class="animate animate--fade-in animate--delay">F</span><span class="animate animate--fade-in animate--delay">.</span></span>
                </h2>
            </div>
            <h1 class="site-strapline h2 text-primary text-white"><i class="text-weight-bold">Creative</i> full-stack developer</h1>
            <canvas id="header-canvas" height="auto" width="auto"></canvas>

        </header>

        <section class="slant-section" id="about">
            <div class="slant-section__slant bg-black"></div>
            <div class="slant-section__body bg-black js-section">

                <div class="contented rhythmic-xxl">

                    <div class="grid grid--middle">
                        <div class="grid__item width-1/2 tablet-width-2/3 mobile-width-1/1">
                            <h3 class="h5 text-flat-green-1 rhythm-m-1">ABOUT</h3>
                            <h2 class="h1 h1--big text-white text-weight-bold"><span>J</span>ozef Maxted</h2>
                            <div class="small-divider bg-flat-green-1 rhythm-m-2"></div>
                            <p class="text-white h2 rhythm-m-1-half">Hi, I'm Jozef, a <strong>creative full-stack web developer</strong> based in <strong>Brighton</strong>. I have been building websites since 2008.</p>
                            <p class="p p--big text-white rhythm-m-1">I have a passion for web technoligies and enjoy using my skills to complete projects for high profile clients at <a class="text-link text-link--white text-link--no-underline text-weight-bold" href="http://theunit.co.uk">The Unit</a>.</p>
                            <p class="p p--big text-white rhythm-m-1">As well as producing serious work for serious clients, I love experimenting with web technologies for creative purposes. Recently I have worked with chatbots, machine learning, the internet of things, and I am addicted to creating generative art (this site is perfect example).</p>
                            <p class="p p--big text-white rhythm-m-1">If it can be built using web technologies, I can build it for you. If it can't, lets try anyway!</p>
                        </div><!--
                        --><div class="grid__item width-1/2 tablet-width-1/3 mobile-width-1/1">
                            <div class="gutted-left-xl tablet-tight">
                                <img class="profile-pic" src="assets/images/jozef-maxted.jpg" alt="Jozef Maxted - Developer Brighton">
                                {% include "partials/experience-logos.html" %}
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- ./slant-section__body -->
            <div class="slant-section__bottom-slant bg-black"></div>
        </section>

        <section class="bg-brand-primary rhythm-p-3--top  js-section work-section" id="work">
            <div class="contented rhythm-p-3--top">
                <div class="grid grid--bottom">
                    <div class="grid__item width-1/2 tablet-width-1/1">
                        <h3 class="h5 text-flat-blue-4 rhythm-m-1">WORK</h3>
                        <h2 class="h1 h1--big text-white text-weight-bold">Recent Projects</h2>
                        <div class="small-divider bg-flat-blue-4 rhythm-m-3"></div>
                    </div><!--
                    --><div class="grid__item width-1/2 tablet-width-1/1">
                        <ul class="list list--inline work-menu">
                            <li class="list__item">
                                <a href="#" class="bg-flat-blue-4 work-menu__item js-work-select" data-work-id="1">1</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="bg-flat-blue-4 work-menu__item js-work-select" data-work-id="2">2</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="bg-flat-blue-4 work-menu__item js-work-select" data-work-id="3">3</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- /.contented -->

            <div class="bg-flat-blue-4 work">
                <div class="contented rhythmic-xxl">
                    <div class="work__transition"></div>
                    <div class="work__controls text-white">
                        <a href="#" class="text-link text-link--white text-upper js-work-trigger-previous">Previous</a> / <a href="#" class="text-link text-link--white text-upper js-work-trigger-next">Next</a>
                    </div>
                    <div class="grid grid--middle work-item work-item--active" data-work-id="1">
                        <div class="grid__item width-1/3 tablet-width-1/1">
                            <div class="work-item__content">
                                <h3 class="h1 text-weight-bold text-white work-item__title">Neilson Holidays</h3>
                                <h4 class="h6 text-brand-primary rhythm-m-2 work-item__skills">Lead Developer / Drupal 8 / Angular / API</h4>
                                <p class="p text-white rhythm-m-1 tablet-rhythm-m-2 work-item__description">Lead developer for the build on the new Neilson webiste. This project was one of the first complex sites to be built with Drupal 8, and required lots of custom module developement to integrate with ATCORE, Neilson's booking engine.</p>
                            </div><!-- /.work-item__content -->
                        </div><!--
                        --><div class="grid__item width-2/3 tablet-width-1/1">
                            <div class="gutted-left-xl tablet-tight">
                                <img class="block work-item__image" src="http://unsplash.it/900/600" alt="">
                            </div>
                        </div>
                    </div><!-- /.grid -->
                    <div class="grid grid--middle work-item hidden" data-work-id="2">
                        <div class="grid__item width-1/3 tablet-width-1/1">
                            <div class="work-item__content">
                                <h3 class="h1 text-weight-bold text-white work-item__title">Fidelity</h3>
                                <h4 class="h6 text-brand-primary rhythm-m-2 work-item__skills">Lead Frontend Developer / Backbone</h4>
                                <p class="p text-white rhythm-m-1 tablet-rhythm-m-2 work-item__description">Lead developer for the build on the new Neilson webiste. This project was one of the first complex sites to be built with Drupal 8, and required lots of custom module developement to integrate with ATCORE, Neilson's booking engine.</p>
                            </div><!-- /.work-item__content -->
                        </div><!--
                        --><div class="grid__item width-2/3 tablet-width-1/1">
                            <div class="gutted-left-xl tablet-tight">
                                <img class="block work-item__image" src="http://unsplash.it/900/600?random" alt="">
                            </div>
                        </div>
                    </div><!-- /.grid -->
                    <div class="grid grid--middle work-item hidden" data-work-id="3">
                        <div class="grid__item width-1/3 tablet-width-1/1">
                            <div class="work-item__content">
                                <h3 class="h1 text-weight-bold text-white work-item__title">Pink Floyd</h3>
                                <h4 class="h6 text-brand-primary rhythm-m-2 work-item__skills">Canvas &amp; CSS Animations</h4>
                                <p class="p text-white rhythm-m-1 tablet-rhythm-m-2 work-item__description">Canvas and CSS animations on the new promotional site for Pink Floyd's album Endless River. I had to create custom intro animations reflecting the album artwork that had been designed for the Endless River.</p>
                            </div><!-- /.work-item__content -->
                        </div><!--
                        --><div class="grid__item width-2/3 tablet-width-1/1">
                            <div class="gutted-left-xl tablet-tight">
                                <img class="block work-item__image" src="http://unsplash.it/900/600" alt="">
                            </div>
                        </div>
                    </div><!-- /.grid -->
                </div><!-- /.contented -->
            </div>

        </section>

        <script src="assets/js/vendor.js"></script>
        <script src="assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
