@import "compass/typography/vertical_rhythm";

$rhythm-unit: "px"; //compass
$rem-with-px-fallback: false; //compass
$round-to-nearest-half-line: true; //compass
$base-font-size: 18px; //compass
$base-line-height: 20px; //compass

$base-gutter: 24px; // settings/mixins

$max-width: px-to-rem( 1440px );
$desktop-width: px-to-rem( 1080px );
$tablet-width: px-to-rem( 840px );
$mobile-width: px-to-rem( 500px );
$min-width: px-to-rem( 320px );

$navbar-height: px-to-rem( 60px );

$breakpoints: (
    "max"       : "( max-width: #{$max-width} )",
    "desktop"   : "( max-width: #{$desktop-width} )",
    "tablet"    : "( max-width: #{$tablet-width} )",
    "mobile"    : "( max-width: #{$mobile-width} )",
    "min"       : "( max-width: #{$min-width} )",
    "retina"    : "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"
);

$breakpoints-reverse: (
    "desktop"   : "( min-width: #{$desktop-width} )",
    "tablet"    : "( min-width: #{$tablet-width} )",
    "mobile"    : "( min-width: #{$mobile-width} )",
    "min"       : "( min-width: #{$min-width} )"
);

$font-path: "../fonts/";
$image-path: "../images/";

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$border-radius: 3px;

// Brand colours
$brand-primary: #1abc9c;
$brand-secondary: #9b59b6;

// Text colours
$text-colour: #262626;
$text-colour-inverted: #ffffff;
$text-colour-muted: #cccccc;
$text-colour-link: #3498db;

// Helper colours
$background-colour: #f7f7f7;
$border-colour: #cccccc;
$white: #ffffff;
$black: #2c3e50;
$grey: #7f8c8d;

// Message colours
$site-success: #2ecc71;
$site-warning: #e67e22;
$site-error: #c0392b;

// Greens
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Purples
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;

// Yellows
$flat-sunflower: #F1C40F;

// Oranges
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;

// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$flat-green-1: $flat-turquoise;
$flat-green-2: $flat-green-sea;
$flat-green-3: $flat-emerald;
$flat-green-4: $flat-nephritis;

// Blues
$flat-blue-1: $flat-peter-river;
$flat-blue-2: $flat-belize-hole;
$flat-blue-3: $flat-wet-asphalt;
$flat-blue-4: $flat-midnight-blue;

// Purples
$flat-purple-1: $flat-amethyst;
$flat-purple-2: $flat-wisteria;

// Yellows
$flat-yellow-1: $flat-sunflower;

// Oranges
$flat-orange-1: $flat-orange;
$flat-orange-2: $flat-carrot;
$flat-orange-3: $flat-pumpkin;

// Refs
$flat-red-1: $flat-alizarin;
$flat-red-2: $flat-pomegranate;

// Grays
$flat-gray-1: $flat-clouds;
$flat-gray-2: $flat-silver;
$flat-gray-3: $flat-concrete;
$flat-gray-4: $flat-asbestos;

// Colours array
$site-colours: (
	"brand-primary"  	: $brand-primary,
	"brand-secondary"  	: $brand-secondary,
	"white"				: $white,
	"black"				: $black,
	"grey"				: $grey,
	"link"				: $text-colour-link,
    "flat-green-1"      : $flat-green-1,
    "flat-green-2"      : $flat-green-2,
    "flat-green-3"      : $flat-green-3,
    "flat-green-4"      : $flat-green-4,
    "flat-blue-1"       : $flat-blue-1,
    "flat-blue-2"       : $flat-blue-2,
    "flat-blue-3"       : $flat-blue-3,
    "flat-blue-4"       : $flat-blue-4,
    "flat-gray-1"       : $flat-gray-1,
    "flat-gray-2"       : $flat-gray-2,
    "flat-gray-3"       : $flat-gray-3,
    "flat-gray-4"       : $flat-gray-4,
    "flat-orange-1"     : $flat-orange-1,
    "flat-orange-2"     : $flat-orange-2,
    "flat-orange-3"     : $flat-orange-3,
    "flat-red-1"        : $flat-red-1,
    "flat-red-2"        : $flat-red-2,
    "flat-purple-1"     : $flat-purple-1,
    "flat-purple-2"     : $flat-purple-2,
    "flat-yellow-1"     : $flat-yellow-1,
);

// Darkened colours array
$site-colours-hover: (
	"brand-primary"  	: darken( $brand-primary, 10% ),
	"brand-secondary"  	: darken( $brand-secondary, 10% ),
	"white"				: darken( $white, 10% ),
	"black"				: lighten( $black, 10% ),
	"grey"				: lighten( $grey, 10%),
	"link"				: darken( $text-colour-link, 10% )
);

// Compass includes
@include establish-baseline;
