.site-header {
    text-align: center;
    position: relative;
    background: $brand-primary;
}

    .site-strapline {
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX( -50% );
        width: 100%;

        @include respond-to( mobile ) {
            bottom: 80px;
        }
    }

    .site-header__logo-container {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY( -50% );
        perspective: 500px;
    }

.logo {
    transform-origin: top;
    transform-style: preserve-3d;
}

    .logo__text {
        border: 10px solid $white;
        font-weight: 900;
        font-size: 80px;
        line-height: 90px;
    }

    .logo__expand-nav {
        height: rhythm( 4 );
        width: calc( 100% + 20px );
        background: #fff;
        position: absolute;
        top: calc( -50% - 7px );
        left: 50%;
        transform: translateX(-50%) translateZ( rhythm( -2 ) ) rotateX(90deg);
        opacity: 0;
    }

    .logo--nav {
        margin-top: 1px;
        .logo__text {
            border: 6px solid $black;
            font-weight: 900;
            font-size: 40px;
            line-height: 50px;
            transition: color 5s ease, border 5s ease;
        }
    }

.site-nav {
    height: rhythm( 4 );
    width: 100%;
    background: $white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: none;
    text-transform: uppercase;
    transform: translate3d(0px,0px,0px);
    opacity: 0;
    display: block;
}

    .site-nav__content {
        display: none;
    }

    .site-nav--active {
        opacity: 1;

        .site-nav__content {
            display: block;
        }
    }



.experience-logos {
    width: 100%;
    height: auto;
    padding-top: 100%;
    // min-height: 200px;
    border-radius: 100%;
    overflow: hidden;
    background: $white;
    position: relative;
    opacity: 0.9999;

    .experience-logos__container {
        animation-name: experience-animation;
        animation-duration: 40s;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    .experience-logos__1 {
        // height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .experience-logos__2 {
        display: block;
        // height: 100%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        // animation-name: experience-animation;
        // animation-duration: 20s;
        // animation-fill-mode: both;
        // animation-timing-function: linear;
        // animation-iteration-count: infinite;
        // animation-delay: 6.6666666666s;
    }

    .experience-logos__logo {
        display: inline-block;
        max-width: 30%;
        margin: 10px;
    }

    .angular {
        max-width: 50%;
    }
    .laravel {
        max-width: 20%;
    }
    .aws,
    .backbone {
        max-width: 43%;
    }
    .drupal,
    .javascript,
    .html5 {
        max-width: 10%;
    }
    .craft,
    .wordpress {
        max-width: 30%;
    }

    .css3,
    .sass,
    .grunt {
        max-width: 15%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .gulp {
        max-width: 10%;
        margin-left: 3%;
        margin-right: 3%;
    }

}

@keyframes  experience-animation {
    from {
        transform: translate3d( 0, 0, 0 );
    }
    to {
        transform: translate3d( 0, -50%, 0 );
    }
}
