/*------------------------------------*\
    #SITE

    Dependancies:

\*------------------------------------*/


/*
 * Sticky footer
 */

 html,
 body,
 .site-wrapper {
    height: 100%;
    position: relative;
}

    .site-header {
        //z-index: index( $elements, "site-header" );
        min-height: 100%;
    }

    .site-content {
        min-height: 100%;
        overflow: hidden;
        z-index: index( $elements, "site-content" );

        &:after {
            content: "";
            display: block;
            height: rhythm( 3 );
        }
    }

    .site-footer {
        padding: rhythm( 0.75 ) 0;
        clear: both;
        min-height: rhythm( 3 );
        z-index: index( $elements, "site-footer" );

        background: #242424;
    }

    .slant-section {
        margin-top: rhythm( -6 );
        z-index: index( $elements, "site-content" );
        position: relative;
        overflow: hidden;
        padding-top: 70px;
    }

        .slant-section__slant {
            height: rhythm( 3 );
            transform: rotate( 2deg );
            box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
            width: 120%;
            margin-left: -10%;
            z-index: 1;
            position: relative;
        }

        .slant-section__body {
            position: relative;
            margin-top: -40px;
            min-height: 400px;
            z-index: 2;
        }
